*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --VERY-DARK-BLUE: hsl(200, 15%, 8%);
    --DARK-GRAY: hsl(0, 0%, 52%);
    --VERY-LIGHT-GRAY: hsl(0, 0%, 98%);
    --WHITE: hsl(0, 0%, 100%);

    /* DARK MODE ELEMENTS */
    --D-MODE-DARK-BLUE: hsl(209, 23%, 22%);
    --D-MODE-VERY-DARK-BLUE: hsl(207, 26%, 17%);
}

body {
    background-color: var(--VERY-LIGHT-GRAY);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--D-MODE-VERY-DARK-BLUE);
    }
}